@font-face {
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    src: url(https://themes.googleusercontent.com/static/fonts/francoisone/v7/bYbkq2nU2TSx4SwFbz5sCHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

* {
    font-family: 'Francois One', sans-serif;
    position: relative;
    color: #535353;
}

.pad-top { /* Pad the top so text doesn't run up next to something... */
    padding-top:5px;
}

.more-info:hover {
    color:#EB6800;
    cursor:pointer;
}

a {
  color:#535353;
}

.marginal {
  margin-left: 5px;
  margin-right: 5px;
}
